<!DOCTYPE html>
<html>
  <head>
    <title>
      Summer Camp Management System [SCMS] created by Anthony Kung
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="{{themeColor}}">
    <meta name="description" content="{{seoDesc}}">
    <meta property="og:image" content="{{ogImage}}">
    <meta property="og:title" content="{{ogTitle}}">
    <meta property="og:description" content="{{ogDesc}}">
    <meta property="og:url" content="{{ogUrl}}">
    <meta property="og:site_name" content="{{ogName}}">
  </head>
  <body>
  </body>
</html>
