<div class="userGridContainer">
  <div class="userImageCtn userGridItem">
    <img class="userImage" src="{{imageURL}}" />
  </div>
  <div class="userDetails userGridItem">
    <h2 class="userName">{{userName}}</h2>
    <h3 class="userAlert">{{userAlert}}</h3>
    <h4 class="userMedical">{{userMedical}}</h4>
    <h4 class="userMedications">{{userMedications}}</h4>
    <h4 class="userClass">{{userClass}}</h4>
    <h4 class="userSup">{{userSup}}</h4>
    <h4 class="userAge">{{userAge}}</h4>
    <h4 class="userGuardian">{{userGuardian}}</h4>
    <h4 class="userContact">{{userContact}}</h4>
  </div>
</div>
