{{#each site}}
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="{{favicon}}">
  <meta name="description" content="{{desc}}">
  <meta name="keywords" content="{{keywords}}">
  <meta name="author" content="{{author}}">
  <meta name="theme-color" content="{{themeColor}}">
  <!-- If you removed these, it is required to state your changes under GNU AGPLv3 license -->
  <meta name="generator" content="Summer Camp Management System (SCMS) by Anthony Kung">
  <meta name="creator" content="Anthony Kung (www.anthonykung.com)">
  <meta name="designer" content="Anthony Kung (www.anthonykung.com)">
  <!-- If you removed these, it is required to state your changes under GNU AGPLv3 license -->
  <meta property="og:image" content="{{ogImage}}">
  <meta property="og:title" content="{{ogTitle}}">
  <meta property="og:description" content="{{ogDesc}}">
  <meta property="og:url" content="{{ogUrl}}">
  <meta property="og:site_name" content="{{ogName}}">
  <meta name="og:email" content="{{ogEmail}}">
  <meta name="og:phone_number" content="{{ogTel}}">
{{/each}}
