<audio id="audioAlert" autoplay loop controlsList="nodownload">
  <source src="/assets/warning.mp3" type="audio/mpeg">
  <source src="/assets/peanutAllergy.mp3" type="audio/mpeg">
</audio>
<div class="userGridContainer">
  <div class="userImageCtn userGridItem">
    <img class="userImage" src="{{face}}" />
  </div>
  <div class="userDetails userGridItem">
    <h2 class="userName">Name: {{name}}</h2>
    <h3 class="userAlert">Alert: {{alert}}</h3>
    <h4 class="userMedical">Medical: {{medical}}</h4>
    <h4 class="userMedications">Medications: {{medications}}</h4>
    <h4 class="userClass">Class: {{class}}</h4>
    <h4 class="userSup">Supervisor: {{supervisor}}</h4>
    <h4 class="userAge">Age: {{age}}</h4>
    <h4 class="userGuardian">Guardian: {{guardian}}</h4>
    <h4 class="userContact">Guardian Contact:{{contact}}</h4>
  </div>
</div>
