<!DOCTYPE html>
<html>
  <head>
    <title>{{ogTitle}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{{favicon}}">
    <meta name="description" content="{{seoDesc}}">
    <meta name="keywords" content="{{seoKeywords}}">
    <meta name="author" content="Anthony Kung">
    <meta name="theme-color" content="{{themeColor}}">
    <meta property="og:image" content="{{ogImage}}">
    <meta property="og:title" content="{{ogTitle}}">
    <meta property="og:description" content="{{ogDesc}}">
    <meta property="og:url" content="{{ogUrl}}">
    <meta property="og:site_name" content="{{ogName}}">
    {{#each styles}}
      {{> style}}
    {{/each}}
    {{#each scripts}}
      {{> script}}
    {{/each}}
  </head>
  <body>
    {{> pageNav}}
    {{{body}}}
  </body>
</html>
